<p id="notice"><%= notice %></p>


<p>
  <strong>Target page name:</strong>
  <%= @target_page.target_page_name %>
</p>

<%= link_to 'Edit', edit_target_page_path(@target_page) %> |
<%= link_to 'Back', target_pages_path %>
