<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crumb_template.name %>
</p>

<%= link_to 'Edit', edit_crumb_template_path(@crumb_template) %> |
<%= link_to 'Back', crumb_templates_path %>
